body {
  margin: 0 auto;
  background-color: #f6f7fc;
}

#header {
  position: fixed;
  top: 0px;
  margin: 0 10vw;
  height: 50px;
  width: 80vw;
  background-color: #2a2a2a;
}

#header-text {
  margin: 6px 0 0 12px;
  font-family: 'Exo';
  font-weight: 900;
  font-size: 30px;
  color: white;
}

#zvh {
  margin: 0 10vw;
}

#zvh-header-img {
  width: 100%;
}

#zvh-header {
  margin: 20px auto;
}

.h3 {
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-family: 'Exo';
  font-weight: 900;
  font-size: 40px;
}

#zvh-header-underline {
  margin: 0 auto;
  height: 2px;
  width: 483px;
  background-color: black;
}

#zvh-title {
  margin: 5px auto 0;
  width: 100%;
  border-radius: 3px;
}

.zvh-gameplay-images {
  margin: 0.15vw auto;
  width: 49.75%;
  border-radius: 3px;
}

#zvh-gameplay-1 {
  margin-right: 0.4vw;
}

#zvh-yt-div {
  position: relative;
  height: 0;
  padding-bottom: 56.21%;
  margin-bottom: 5.3vw;
}

#zvh-yt-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

#support {
  margin: 50px 10vw 0;
}

#support-header-h3 {
  padding: 20px 0;
}

#support-form {
  margin: 0 10vw;
  padding: 1.5vw 2vw;
  background-color: #e6e7ef;
  border-radius: 3px;
}

#support-email {
  margin: 0 auto;
  font-family: 'Source Sans Pro';
  font-size: 20px;
}

#support-email-p {
  margin: 0 auto;
  font-family: 'Source Sans Pro';
  line-height: 1em;
}

.input {
  border: 1px solid #bababa;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

#support-email-input {
  margin: 1vh auto;
  height: 1.5em;
  width: 40%;
}

textarea {
  margin: 1vh auto;
  width: 100%;
  height: 20vh;
  resize:vertical;
}

button {
  margin: 0 auto;
  display: block;
  height: 30px;
  width: 100px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  font-family: 'Source Sans Pro';
  font-size: 1em;
  cursor: pointer;
}

button:focus {
  outline:0;
}

.sent {
  border: 3px solid #00ce0a;
  border-radius: 2px;
}
